@import '~bootstrap/scss/bootstrap';


.my_side-bar{
    a {
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    };

    li{
        list-style:none;
    }
};
